body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.border{
	height: 250px;
	width: 500px;
	box-sizing: border-box;
	background-color: black;
	position: relative;
	margin: 50px 0px 0px 125px;
}

 .border .animebox {
	position: absolute;
	background-color: red;
	height: 100px;
	width: 100px;
	animation: please 4s;
	animation-direction:normal;
}
@keyframes please {
	0%{
		opacity: 0;
	}
	0%{
		transform: translate(400px);
	}
	100%{
		transform: translate(0px);
	}
	100%{
		opacity: 1;
	}

}